@import url('index.css');

.card{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    border-radius: 6px;
    overflow: hidden;
}

.img-card{
    width: 100%;
    height: 180px;
    cursor: pointer;
}

.img-card img{
    width: 100%;
    height: 100%;
}

.information-card{
    padding: 2rem;
    padding-bottom: 3.2rem;
}

.name-countrie{
    font-weight: 900;
    font-size: 17px;
    padding-bottom: 1rem;
}

.population-countrie, .region-countrie,
.capital-countrie{
    font-size: 14px;
    font-weight: 700;
    padding-top: .3rem;
}

span{
    font-weight: 400;
}

/* Country Information  */
.container-information{
    position: fixed;
    z-index: 100;
    top: 5.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
}

.container-information.visible{
    display: block;
}